* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
:root{
    --color-primary: #24282b;
    --color-secundary: #1293d4;
    --color-botton: #e84a1d;
    --color-textbox: #35424a;
}
.header{
    
}
